.pageNotFound {
  min-height: 80vh;
  margin-top: 100px;
}
.Warning {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  font-family: "DINPro-Medium", serif;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
